.projects-section {
  padding: 50px 80px;
  background: #f5f5f5;
}


.section-title {
  align-items: center;
  justify-content: center;
  display: flex;
  color: black;
  
 
}


.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}


.card {
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}


.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}


.card-content {
  padding: 15px;
  text-align: center;
}

.card-content h3 {
  margin-bottom: 10px;
}


.card-content button {
  padding: 8px 15px;
  border: 1px solid #2d6cdf;
  background: transparent;
  color: #2d6cdf;
  cursor: pointer;
}

.card-content button:hover {
  background: #2d6cdf;
  color: white;
}